# Terraform file ignored
terraform/.terraform/
.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/.tflint.hcl
terraform/*.tfrun

# Logs and directorird
.idea/
.vscode/
.DS_Store
*.log
